<div class="row">
  <div class="col-md-6">
    <!-- <form #form="ngForm" (ngSubmit)="addBook(form.value); form.resetForm();" novalidate>
      <div class="bg-primary text-white text-center">
          <h1>Books</h1>
      </div>
      <div class="form-group">
          <label class="form-label" for="">Name</label>
          <input #name="ngModel" class="form-control" [class.is-invalid]="name.touched && name.invalid" type="text"
              name="name" placeholder="Enter Name" required ngModel>
          <p class="invalid-feedback">
              Name is Required !
          </p>
      </div>
      <div class="form-group">
          <label class="form-label" for="">Price</label>
          <input #price="ngModel" class="form-control" [class.is-invalid]="price.touched && price.invalid"
              type="number" name="price" placeholder="Enter Price" required ngModel>
          <p class="invalid-feedback">
            Price is Required !
          </p>
      </div>
      <div class="form-group">
          <input class="btn btn-primary" type="submit" [disabled]="form.invalid">
          <input class="btn btn-primary" type="reset">
      </div>
  </form> -->

  <!-- Reactive Form -->
    <form [formGroup]="form" (ngSubmit)="saveForm()">
      <div class="form-group">
          <!-- <label class="form-label">Id</label> -->
          <input class="form-control" [class.is-invalid]="form.controls.id.touched && form.controls.id.invalid" type="number" name="id" placeholder="Enter Id" formControlName="id" [(ngModel)]="book.id" hidden>
          <p class="invalid-feedback">
              Id is Required !
          </p>
      </div>
      <div class="form-group">
          <label class="form-label">Name</label>
          <input class="form-control" [class.is-invalid]="form.controls.name.touched && form.controls.name.invalid" type="text" name="name" placeholder="Enter Name" formControlName="name" [(ngModel)]="book.name">
          <p class="invalid-feedback">
              Name is Required !
          </p>
      </div>
      <br>
      <div class="form-group">
          <label class="form-label">Price</label>
          <input class="form-control" [class.is-invalid]="form.controls.price.touched && form.controls.price.invalid" type="number" name="price" placeholder="Enter Price" formControlName="price" [(ngModel)]="book.price">
          <p class="invalid-feedback">
              Price is Required !
          </p>
      </div>
      <br>
      <div class="form-group">
          <input class="btn btn-primary" type="submit" [disabled]="form.invalid">
          <input class="btn btn-secondary" type="reset">
      </div>
    </form>
  </div>
  <div class="col-md-6">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Price</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let book of books">
          <th scope="row">{{book.id}}</th>
          <td>{{book.name}}</td>
          <td>{{book.price | currency}}</td>
          <td>
            <button class="btn btn-secondary" (click)="getBookById(book.id)">Update</button>
            <button class="btn btn-danger" (click)="deleteBook(book.id)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>